<template>
  <div class="about_section">
    <div class="about_bundle">
      <div class="me">
        <figure>
          <img class="me_img" src="@/assets/images/me.jpg" />
        </figure>
        <pre class="text">
퍼블리셔 & 프론트엔드 박재은입니다.

저는 현역 퍼블리셔에게 퍼블리싱을 배웠고, 
프로그래밍 언어를 이해하기위해 프론트엔드 & 백엔드 웹프로그래밍 과정을 수료하였습니다.

그리고 HTML5, CSS3, SCSS, JavaScript, Vue.js를 다룰 줄 알고,
프로젝트 현상관리시스템인 git&github를 다룰 수 있습니다.
          </pre
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutMe",
};
</script>

<style lang="scss">
.about_section {
  margin: 100px 0;
  .about_bundle {
    margin: 0 auto;
    .me {
      text-align: center;
      .me_img {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
        border: 1px solid #f2ccb1;
        border-radius: 50%;
      }
      .text {
        margin: 30px 0;
        line-height: 140%;
        color: #0a0f15;
      }
    }
  }
}
</style>
