<template>
  <div class="main_section">
    <div class="main_img">
      <img class="main_me" src="@/assets/images/girl.png" alt="소녀" />
      <p class="main_text">
        WELCOME!! THIS IS <span>PARK JAE EUN</span> PORTFOLIO
      </p>
      <p class="scroll">SCROLL DOWN</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainSection",
};
</script>

<style lang="scss">
.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .main_img {
    position: relative;
    text-align: center;
    .main_me {
      width: 300px;
      height: 300px;
    }
    .main_text {
      margin: 10vh 0;
      font-size: 30px;
      color: #0a0f15;
      span {
        font-weight: bold;
        font-size: 40px;
        color: #81aad9;
      }
    }
    .scroll {
      position: absolute;
      left: 50%;
      bottom: -50px;
      margin-left: -53px;
      font-size: 15px;
      color: #0a0f15;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        border-right: 2px solid #0a0f15;
        border-bottom: 2px solid #0a0f15;
        transform: rotate(45deg);
        animation-name: down1;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(45deg);
        animation-name: down2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
}
@keyframes down1 {
  0% {
    top: 25px;
    opacity: 0;
  }
  50% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes down2 {
  0% {
    top: 35px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 35px;
    opacity: 0;
  }
}
</style>
