<template>
  <div class="main_home">
    <main-saction />
    <about-me />
    <skill-saction />
    <portfolio-saction />
  </div>
</template>

<script>
import AboutMe from "@/components/main/AboutMe.vue";
import MainSaction from "@/components/main/MainSaction.vue";
import SkillSaction from "@/components/main/SkillSaction.vue";
import PortfolioSaction from "@/components/main/PortfolioSaction.vue";

export default {
  name: "MainHome",
  components: {
    AboutMe,
    MainSaction,
    SkillSaction,
    PortfolioSaction,
  },
};
</script>
<style lang="scss">
.main_home {
  margin-bottom: 100px;
  text-align: center;
  h2 {
    margin: 20px auto 60px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #141f2a;
  }
}
</style>
