<template>
  <div class="portfolio_saction">
    <h2>PROJECT VIEW</h2>
    <button
      v-for="(tab, index) in tabs"
      :key="index"
      :class="['title_tab', { active: tab === tabTitle }]"
      @click="TabClick(tab)"
    >
      {{ tab }}
    </button>
    <div class="slider">
      <figure @click="PopupClick">
        <img
          :src="require(`@/assets/images/protfolio_img/${currentList.img}`)"
        />
      </figure>
      <button class="prev" @click="prev">&#10094;<span>Previous</span></button>
      <button class="next" @click="next"><span>Next</span>&#10095;</button>
    </div>
    <ul class="list_dot">
      <li
        v-for="(list, index) in lists"
        :key="index"
        :class="{ active: index === currentIndex }"
        @click="currentIndex = index"
      >
        <span>{{ index + 1 }}</span>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      tabTitle: "",
      tabs: ["total", "web publishing", "frontend"],
      lists: [],
      currentIndex: 0,
      timer: null,
    };
  },
  computed: {
    currentList() {
      return this.lists.find((list, index) => index === this.currentIndex);
    },
    ...mapState(["publishingList", "frontendList"]),
    popupOpen: {
      get() {
        return this.$store.state.popupOpen;
      },
      set(popup) {
        this.$store.commit("updatePopup", popup);
      },
    },
  },
  created() {
    this.TabClick();
  },
  mounted() {
    this.startSlide();
  },
  methods: {
    TabClick(tab) {
      this.tabTitle = tab === undefined ? "total" : tab;
      this.currentIndex = 0;
      switch (tab) {
        case "total":
        default:
          return (this.lists = this.publishingList.concat(this.frontendList));
        case "web publishing":
          return (this.lists = this.publishingList);
        case "frontend":
          return (this.lists = this.frontendList);
      }
    },
    next() {
      if (this.currentIndex === this.lists.length - 1) {
        this.currentIndex = 0;
      } else {
        this.currentIndex += 1;
      }
    },
    prev() {
      if (this.currentIndex === 0) {
        this.currentIndex = this.lists.length - 1;
      } else {
        this.currentIndex -= 1;
      }
    },
    startSlide() {
      this.timer = setInterval(this.next, 4000);
    },
    PopupClick() {
      this.$store.commit("updateList", this.currentList);
      if (!this.popupOpen) {
        this.popupOpen = true;
        document.body.classList.add("noScroll");
      } else {
        this.popupOpen = false;
        document.body.classList.remove("noScroll");
      }
    },
  },
};
</script>
<style lang="scss">
.portfolio_saction {
  text-align: center;
  .title_tab {
    border: none;
    background: none;
    padding: 0 30px;
    opacity: 0.3;
    outline: none;
    line-height: 30px;
    font-size: 18px;
    color: #0a0f15;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &.active {
      border-bottom: 3px solid #feccb1;
      opacity: 1;
    }
  }
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    figure {
      width: 400px;
      height: 400px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: opacity 1s ease-in-out;
      }
    }
    .prev,
    .next {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 100px;
      height: 100px;
      border: 1px solid #f2ccb1;
      border-radius: 50px;
      background: none;
      font-weight: bold;
      font-size: 30px;
      color: #f2ccb1;
      transition: 0.7s ease;
      text-decoration: none;
      user-select: none;
      outline: none;
      cursor: pointer;
      &:hover {
        background: #f2ccb1;
        color: #fff;
      }
      span {
        font-size: 0;
      }
    }
    .next {
      transform: translateX(300px);
    }
    .prev {
      transform: translateX(-400px);
    }
  }
  .list_dot {
    display: flex;
    justify-content: center;
    li {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border-radius: 6px;
      background: #f2ccb1;
      opacity: 0.3;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
      span {
        font-size: 0;
      }
    }
  }
}
</style>
