<template>
  <div class="portfolio_list">
    <!-- <div class="slider">
      <transition-group name="fade" tag="div">
        <div v-for="i in [currentIndex]" :key="i">
          <img :src="require(`@/assets/images/protfolio_img/${currentImg}`)" />
        </div>
      </transition-group>
      <button class="prev" @click="prev">&#10094; Previous</button>
      <button class="next" @click="next">Next &#10095;</button>
    </div>
    <button
      v-for="(tab,index) in tabs"
      :key="index"
      :class="{active: currentTab === index, tab}"
      @click="currentTab = index"
    >{{tab}}</button>
    <div class="tab_content">
      <div v-for="list in filteredTab" :key="list.index">
        <router-link :to="{name: `${list.name}`}" tag="div"><a target="_blank"><img :src="require(`@/assets/images/protfolio_img/${list.img}`)" /></a></router-link>
      </div>
    </div> -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      currentTab: 0,
      tabs: ["ToTal", "Web-Publishing", "Front-End"],
      lists: [
        { img: "namdo.jpg", name: "namdo", state: 1 },
        { img: "calatocs.jpg", name: "calatocs", state: 1 },
        { img: "taetea_content.jpg", name: "taetea_content", state: 1 },
        { img: "taetea_main.jpg", name: "taetea_main", state: 1 },
        { img: "murrayallan.jpg", name: "murrayallan", state: 1 },
        { img: "pantech.jpg", name: "pantech", state: 1 },
        {
          img: "twodoorcinemaclub.jpg",
          name: "twodoorcinemaclub",
          state: 1,
        },
        { img: "tdcc_join.jpg", name: "tdcc_join", state: 2 },
        { img: "waffle.jpg", name: "waffle", state: 2 },
        { img: "movach.jpg", name: "movach", state: 2 },
      ],
      pushLists: [],
      timer: null,
      currentIndex: 0,
    };
  },
  computed: {
    filteredTab() {
      switch (this.currentTab) {
        case 0:
        default:
          return this.lists;
        case 1:
          return this.lists.filter((list) => list.state === 1);
        case 2:
          return this.lists.filter((list) => list.state === 2);
      }
    },
    currentImg() {
      return this.pushLists[
        Math.abs(this.currentIndex) % this.pushLists.length
      ];
    },
  },
  created() {
    this.lists.forEach((list) => this.pushLists.push(list.img));
  },
  mounted() {
    this.startSlide();
  },

  methods: {
    startSlide() {
      this.timer = setInterval(this.next, 4000);
    },

    next() {
      this.currentIndex += 1;
    },
    prev() {
      this.currentIndex -= 1;
    },
  },
};
</script>
<style lang="scss">
.portfolio_list {
  text-align: center;
}
.tab {
  width: 20vw;
  height: 15vh;
  margin: 50px 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #555;
  border-left: none;
  outline: none;
  background: none;
  font-size: 4vh;
  cursor: pointer;
}
.tab.active {
  border-bottom: 4px solid #e20260;
  font-weight: bold;
  color: #e20260;
}
.tab_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85vw;
  height: 100%;
  overflow: hidden;
  margin: 0 auto 10vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient_bg 15s ease infinite;
}
.tab_content > div > div {
  width: 26vw;
  height: 30vh;
  padding: 2vh;
  cursor: pointer;
}
.tab_content > div > div > a > img {
  width: 100%;
  height: 100%;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

// img {
// height: 85vh;
// width: 80vw;
// }

.prev,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  border: none;
  background: none;
  color: #01172e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 4px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: #e20260;
}
</style>
