<template>
  <div class="skills">
    <h2>SKILLS</h2>
    <ul class="skill_list">
      <li>
        <p>HTML</p>
        <div class="circle html" @click="circle('html')">
          <div class="slice">
            <div class="bar" />
            <div class="fill" />
          </div>
          <p v-show="show" class="click_percent">click!</p>
          <p v-show="show2" class="percent"><span>95</span>%</p>
        </div>
      </li>
      <li>
        <p>CSS</p>
        <div class="circle css" @click="circle('css')">
          <div class="slice">
            <div class="bar" />
            <div class="fill" />
          </div>
          <p v-show="show3" class="click_percent">click!</p>
          <p v-show="show4" class="percent"><span>90</span>%</p>
        </div>
      </li>
      <li>
        <p>JAVASCRIPT</p>
        <div class="circle javascript" @click="circle('javascript')">
          <div class="slice">
            <div class="bar" />
            <div class="fill" />
          </div>
          <p v-show="show5" class="click_percent">click!</p>
          <p v-show="show6" class="percent"><span>70</span>%</p>
        </div>
      </li>
      <li>
        <p>VUE.JS</p>
        <div class="circle vue" @click="circle('vue')">
          <div class="slice">
            <div class="bar" />
            <div class="fill" />
          </div>
          <p v-show="show7" class="click_percent">click!</p>
          <p v-show="show8" class="percent"><span>70</span>%</p>
        </div>
      </li>
    </ul>
    <table class="skill_table">
      <thead>
        <tr>
          <th class="skill_kind">활용가능 프로그램</th>
          <th class="understanding">프로그램 이해도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="skill_kind">Html</td>
          <td class="understanding">
            - HTML 구조 이해및 활용<br />
            - 웹표준 마크업 활용<br />
            - 시멘틱 태그 활용
          </td>
        </tr>
        <tr>
          <td class="skill_kind">CSS</td>
          <td class="understanding">
            - 반응형 웹페이지 구현<br />
            - CSS Animation 활용‎
          </td>
        </tr>
        <tr>
          <td class="skill_kind">JavaScript</td>
          <td class="understanding">
            - 기초문법 이해<br />
            - 데이터의 유형 및 자료구조 이해<br />
            - 데이터 입출력 및 파일 처리<br />
            - 제어문과 반복문 이해<br />
            - ES6 이해 및 활용<br />
          </td>
        </tr>
        <tr>
          <td class="skill_kind">Vue.js</td>
          <td class="understanding">
            - 기초문법 이해<br />
            - 컴포넌트 이해 및 활용<br />
            - webpack 이해및 활용<br />
          </td>
        </tr>
        <tr>
          <td class="skill_kind">Git&Github</td>
          <td class="understanding">-프로젝트 상태 관리 명령어 이해 및 활용</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "SkillSaction",
  data() {
    return {
      show: true,
      show2: false,
      show3: true,
      show4: false,
      show5: true,
      show6: false,
      show7: true,
      show8: false,
    };
  },
  methods: {
    circle(element) {
      const percent = document.querySelector(
        ".circle." + element + " .percent span"
      ).innerText;
      let degrees = (percent / 100) * 360;
      if (degrees > 360) degrees = 360;
      if (degrees > 180) {
        document.querySelector("." + element + " .slice").style.clip =
          "rect(auto, auto, auto, auto)";
        document.querySelector("." + element + " .fill").style.display =
          "block";
      }
      document.querySelector("." + element + " .bar").style.transform =
        "rotate(" + degrees + "deg)";
      switch (element) {
        case "html":
          this.show = false;
          this.show2 = true;
          break;
        case "css":
          this.show3 = false;
          this.show4 = true;
          break;
        case "javascript":
          this.show5 = false;
          this.show6 = true;
          break;
        case "vue":
          this.show7 = false;
          this.show8 = true;
          break;
      }
    },
  },
};
</script>
<style lang="scss">
.skills {
  width: 100vw;
  height: 100vh;
  border-top: 1px solid #f2ccb1;
  border-bottom: 1px solid #f2ccb1;
  .skill_list {
    display: flex;
    justify-content: center;
    li {
      width: 200px;
      margin: 20px 20px;
      box-shadow: 0 0 10px #f2ccb1;
      border-radius: 50%;
      padding: 30px 0;
      text-align: center;
      color: #0a0f15;
      .circle {
        position: relative;
        width: 115px;
        height: 115px;
        margin: 10px auto 0;
        background: transparent;
        border-radius: 50%;
        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          width: 95px;
          height: 95px;
          background: transparent;
          border-radius: 50%;
        }
        .slice {
          position: absolute;
          width: 115px;
          height: 115px;
          clip: rect(0, 115px, 115px, 57.5px);
          .bar {
            position: absolute;
            border: 10px solid #507ba7;
            width: 95px;
            height: 95px;
            clip: rect(0, 57.5px, 115px, 0);
            border-radius: 50%;
            transform: rotate(0deg);
            transition: 1s;
          }
          .fill {
            display: none;
            position: absolute;
            border: 10px solid #507ba7;
            width: 95px;
            height: 95px;
            clip: rect(0, 57.5px, 115px, 0);
            border-radius: 50%;
            transform: rotate(180deg);
          }
        }
        .percent {
          position: relative;
          z-index: 1;
          padding-top: 40px;
          font-size: 24px;
          font-weight: bold;
          color: #507ba7;
          span {
            font-size: 24px;
            font-weight: bold;
          }
        }
        .click_percent {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          font-weight: bold;
          color: #507ba7;
          cursor: pointer;
          &:hover {
            font-size: 30px;
          }
        }
      }
    }
  }
  .skill_table {
    width: 800px;
    margin: 60px auto 0;
    border-radius: 5px;
    background: rgba(80, 123, 167, 0.3);
    color: #0a0f15;
    .skill_kind {
      width: 30%;
      border: 1px solid #fff;
      text-align: center;
    }
    .understanding {
      width: 70%;
      border: 1px solid #fff;
    }
    thead {
      tr {
        line-height: 40px;
        font-size: 18px;
      }
    }
    tbody {
      tr {
        .understanding {
          padding-left: 30px;
          line-height: 30px;
        }
      }
    }
  }
}
</style>
