<template>
  <div class="home">
    <main-home />
  </div>
</template>

<script>
import MainHome from "@/components/main/MainHome.vue";

export default {
  name: "Home",
  components: {
    MainHome,
  },
};
</script>
