<template>
  <div>
    <project-component />
  </div>
</template>
<script>
import ProjectComponent from "@/components/ProjectComponent.vue";

export default {
  components: {
    ProjectComponent,
  },
};
</script>
