<template>
  <footer>
    <p>지금까지 저의 포트폴리오를 봐주셔서 감사합니다.</p>
    <ul>
      <li>email: jingjingyi22@gmail.com</li>
      <li>kakaotalk ID: PjEAiN</li>
      <li>
        bitbucket:
        <a
          href="https://bitbucket.org/jingjingyi22/ain-portfolio"
          target="_blank"
        >
          https://bitbucket.org/jingjingyi22/ain-portfolio
        </a>
      </li>
    </ul>
  </footer>
</template>

<style lang="scss">
footer {
  border-top: 1px solid #f2ccb1 !important;
  padding: 40px 15vw !important;
  background: rgba(80, 123, 167, 0.3);
  color: #7b7d7d;
  p {
    margin-bottom: 20px;
  }
  ul {
    li {
      padding-bottom: 5px;
      a {
        color: #7b7d7d;
      }
    }
  }
}
</style>
