<template>
  <div class="layer_popup">
    <button @click="PopupClose" class="close">닫기</button>
    <div class="layerWrap">
      <figure>
        <img :src="require(`@/assets/images/protfolio_img/${popupList.img}`)" />
      </figure>
      <div>
        <p>사용 스킬 : {{ popupList.skill }}</p>
        <a :href="popupList.url" target="_blank" class="urlBtn">VIEW</a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["popupList"]),
    popupOpen: {
      get() {
        return this.$store.state.popupOpen;
      },
      set(popup) {
        this.$store.commit("updatePopup", popup);
      },
    },
  },
  methods: {
    PopupClose() {
      if (this.popupOpen) {
        this.popupOpen = false;
        document.body.classList.remove("noScroll");
      }
    },
  },
};
</script>
<style lang="scss">
.layer_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    background: none;
    font-size: 0;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      width: 30px;
      border-top: 2px solid #fff;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      width: 30px;
      border-top: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }
  .layerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    figure {
      width: 50%;
      margin-right: 20px;
      img {
        width: 100%;
      }
    }
    p {
      margin: 20px 0;
      text-align: center;
      color: #fff;
    }
    a {
      display: block;
      width: 250px;
      height: 30px;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 5px;
      line-height: 32px;
      text-align: center;
      color: #fff;
    }
  }
}
</style>
