<template>
  <header>
    <figure class="logo">
      <router-link :to="{ name: 'Home' }">
        <img src="@/assets/images/logo.png" />
      </router-link>
    </figure>
    <ul class="title_list">
      <li>
        <router-link :to="{ name: 'Home' }"> 홈 </router-link>
      </li>
      <li>
        <router-link
          :to="{ name: 'Project', params: { kind: 'WebPublishing' } }"
        >
          퍼블리싱
        </router-link>
      </li>
      <li>
        <router-link :to="{ name: 'Project', params: { kind: 'Frontend' } }">
          프론트엔드
        </router-link>
      </li>
    </ul>
  </header>
</template>
<script>
export default {
  name: "MainHeader",
};
</script>
<style lang="scss">
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  border-bottom: 1px solid #f2ccb1 !important;
  padding: 20px 20px !important;
  background: #81aad9;
  z-index: 10;
  .logo {
    img {
      width: 300px;
    }
  }
  .title_list {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-end;
    font-size: 18px;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
      }
    }
  }
}
</style>
