<template>
  <div class="project_wrap">
    <template v-if="$route.params.kind === 'WebPublishing'">
      <ul>
        <li v-for="list in publishingList" :key="list.index">
          <figure>
            <img :src="require(`@/assets/images/protfolio_img/${list.img}`)" />
          </figure>
          <button @click="PopupClick(list)" class="img_hover">
            <p>Click</p>
          </button>
        </li>
      </ul>
    </template>
    <template v-if="$route.params.kind === 'Frontend'">
      <ul>
        <li v-for="list in frontendList" :key="list.index">
          <figure>
            <img :src="require(`@/assets/images/protfolio_img/${list.img}`)" />
          </figure>
          <div @click="PopupClick(list)" class="img_hover">
            <p>Click</p>
          </div>
        </li>
      </ul>
    </template>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["publishingList", "frontendList"]),
    popupOpen: {
      get() {
        return this.$store.state.popupOpen;
      },
      set(popup) {
        this.$store.commit("updatePopup", popup);
      },
    },
  },
  methods: {
    PopupClick(list) {
      this.$store.commit("updateList", list);
      if (!this.popupOpen) {
        this.popupOpen = true;
        document.body.classList.add("noScroll");
      } else {
        this.popupOpen = false;
        document.body.classList.remove("noScroll");
      }
    },
  },
};
</script>
<style lang="scss">
.project_wrap {
  min-height: calc(100vh - 391px);
  margin-bottom: 100px;
  padding-top: 98.5px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    li {
      position: relative;
      width: 450px;
      height: 340px;
      margin: 30px 15px 0;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(80, 123, 167, 0.3);
      overflow: hidden;
      figure {
        line-height: 340px;
        transition: 0.5s ease;
        text-align: center;
        opacity: 1;
        &:hover {
          opacity: 0.3;
        }
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .img_hover {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: rgba(80, 123, 167, 0.6);
        transition: 0.5s ease;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        p {
          line-height: 340px;
          font-size: 20px;
          color: #eee;
        }
      }
    }
  }
}
</style>
