<template>
  <div id="app">
    <template>
      <main-header />
      <router-view />
      <footer-section />
    </template>
    <transition name="component-fade" mode="out-in">
      <layer-popup v-if="popupOpen" />
    </transition>
  </div>
</template>
<script>
import MainHeader from "@/components/MainHeader.vue";
import FooterSection from "@/components/Footer.vue";
import LayerPopup from "@/components/LayerPopup.vue";
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {
    MainHeader,
    FooterSection,
    LayerPopup,
  },
  computed: {
    ...mapState(["popupOpen"]),
  },
};
</script>
<style lang="scss">
@import url("./assets/style/reset.css");
#app {
  position: relative;
  width: 100%;
  height: 100%;
}
.noScroll {
  overflow: hidden;
}
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}
</style>
